@import './variables';
@import '../../../node_modules/bulma/bulma';

.geosuggest {
  width: 100% !important;
  margin: 0 !important;

  &.is-danger {
    input {
      @extend .is-danger;
    }
  }

  .geosuggest__input {
    @extend .input;

    &:focus {
      outline: none;
    }
  }

  .geosuggest__suggests {
      border: 1px solid $primary;
      border-top-width: 0;
  }

  .geosuggest__suggests--hidden {
    border: none !important;
  }


  &.search {
    .geosuggest__input {
      height: 38px;
      font-size: 1rem;
      box-shadow: none !important;
      width: 100% !important;
      border-right: none !important;

      &:focus {
        outline: none;
        box-shadow: none !important;
        border-color: transparent !important;
      }
    }

    .geosuggest__suggests {
      border: 1px solid #ccc !important;

      .geosuggest__item {
        color: $primary;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 920px) {
  .geosuggest.search .geosuggest__input{
    width: 100% !important;
  }
}

.stores-box {
  position: absolute;
  top: 120px;
  left: 30px;
  width: 280px;

  .rows {
    background: white;
    height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 10px;

    .column {
      width: 100%;

      .title {
        color: lighten($primary, 10%);
        font-weight: 500;
      }
    }
  }


  .is-title {
    background-color: $primary;
    color: White;
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 20px;
  }
}

@media (max-width: 920px) {
  .stores-box {
    position: relative;
    top: 10px;
    left: 0;
    width: 100%;

    .rows {
      overflow: hidden;
      height: auto;
    }
  }
}
